<?xml version="1.0" encoding="UTF-8"?>
<Settings>
	<Reviews>
		<Review>
			<Name>Reviews apps for android</Name>
			<FileName>reviews_Apps_for_Android_5.json</FileName>
		</Review>
		<Review>
			<Name>Reviews home and kitcher</Name>
			<FileName>reviews_Home_and_Kitchen_5.json</FileName>
		</Review>
	</Reviews>
	<Results>
		<Result>
			<Name>Old Reviews</Name>
			<FileName>OldReviews.json</FileName>
		</Result>
		<Result>
			<Name>New Reviews</Name>
			<FileName>New Reviews.json</FileName>
		</Result>
	</Results>
	<Ports>
		<Broker>
			<Ip></Ip>
			<Port>1025</Port>
		</Broker>
		<Subscriber>
			<!-- <Ip>10.0.1.150</Ip> -->
			<Ip>localhost</Ip>
			<Port>1024</Port>
		</Subscriber>
	</Ports>
	<BlockingQueue>
		<NumberOfQueue>20</NumberOfQueue>
		<PollTime>1</PollTime>
	</BlockingQueue>
	<ThreadPool>
		<NumberOfThreadPool>10</NumberOfThreadPool>
		<AwaitTime>5</AwaitTime>
	</ThreadPool>
	
</Settings>